# Occupation

### Import the necessary libraries

In [1]:
import pandas as pd

### Import the dataset & assign it to a variable users

In [2]:
users = pd.read_csv('Data/users.txt', sep='|')
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Discover what is the mean age per occupation

### Discover the Male ratio per occupation and sort it from the most to the least

### For each occupation, calculate the minimum and maximum ages

### For each combination of occupation and gender, calculate the mean age

### For each occupation present the percentage of women and men