# Occupation

### Import the necessary libraries

In [2]:
import pandas as pd

### Import the dataset & assign it to a variable users

In [3]:
!git clone https://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@github.com/HSD-W-MBA/BAB-WiSe-2022-2023.git
users = pd.read_csv('/content/BAB-WiSe-2022-2023/BAB_03_Datenanalyse_Python/exercises/exercise_5/users.txt', sep='|')
users

Cloning into 'BAB-WiSe-2022-2023'...
remote: Enumerating objects: 102, done.
remote: Counting objects: 100% (102/102), done.
remote: Compressing objects: 100% (79/79), done.
remote: Total 102 (delta 34), reused 91 (delta 23), pack-reused 0
Receiving objects: 100% (102/102), 5.97 MiB | 15.09 MiB/s, done.
Resolving deltas: 100% (34/34), done.

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Discover what is the mean age per occupation

### Discover the Male ratio per occupation and sort it from the most to the least

### For each occupation, calculate the minimum and maximum ages

### For each combination of occupation and gender, calculate the mean age

### For each occupation present the percentage of women and men